{% extends "layout/main.html" %}
{% load static %}

{% block title %}
    Barang Keluar
{% endblock title %}

{% block link %}
<link href="{% static 'assets/libs/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/libs/select2/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" type="text/css" />
{% endblock link %}

{% block content %}
<div class="row page-title">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <div class="mb-0 mr-2 bg-primary p-2 text-white rounded"><i data-feather="upload"></i></div>
            <h4>Data Barang Keluar</h4>
        </div>
        <div class="d-flex align-items-center">
            <a href="{% url 'handlePrintBarangKeluar' start|date:'Y-m-d' end|date:'Y-m-d' %}" class="btn btn-primary mr-2" data-toggle="tooltip" data-placement="top" title="Print Data"><i class="uil-print"></i></a>
            <a href="{% url 'handleExportBarangKeluar' start|date:'Y-m-d' end|date:'Y-m-d' %}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Export Data"><i class="uil-file-download-alt"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pt-3 bg-white border-bottom">
                <form action="{% url 'viewBarangKeluar' %}" method="get">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="form-row">
                                <div class="form-group col-lg-6 d-flex align-items-center">
                                    Dari <input type="date" name="start" class="form-control ml-2" value="{{ start|date:'Y-m-d' }}">
                                </div>
                                <div class="form-group col-lg-6 d-flex align-items-center">
                                    Sampai <input type="date" name="end" class="form-control ml-2" value="{{ end|date:'Y-m-d' }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <button type="submit" class="btn btn-primary btn-block"><i class="mr-1 uil-search"></i> Terapkan</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="basic-datatable" class="table" width="100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama Barang</th>
                                <th>Jumlah Barang</th>
                                <th>Pemasok Barang</th>
                                <th>Pengambil Barang</th>
                                <th>Tanggal Pengambilan</th>
                                {% if auth.role != 'owner' %}
                                <th>Aksi</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for barang in barangs %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ barang.barang.nama }}</td>
                                <td><div class="badge badge-soft-primary">{{ barang.stok }}</div></td>
                                <td>{{ barang.barang.pemasok }}</td>
                                <td>{{ barang.pengambil }}</td>
                                <td>{{ barang.waktu|date:'d M Y' }}</td>
                                {% if auth.role != 'owner' %}
                                <td class="d-flex">
                                    <span data-toggle="modal" data-target="#modal-update-{{ barang.id }}">
                                        <button class="btn btn-success btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="uil-file-edit-alt"></i></button>
                                    </span>
                                    <button onclick="hapus('{{ barang.id }}')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Hapus"><i class=" uil-trash-alt"></i></button>
                                </td>
                                {% endif %}
                            </tr>
                            {% if auth.role != 'owner' %}
                            <div id="modal-update-{{ barang.id }}" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel">Update Data</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Barang</label>
                                                <input type="text" class="form-control" disabled value="{{ barang.barang.nama }} - {{ barang.barang.pemasok }}">
                                                <span class="help-block">
                                                    <small>Tidak bisa dirubah!</small>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label>Pengambil Barang</label>
                                                <input type="text" id="pengambilUp{{ barang.id }}" maxlength="100" class="form-control" value="{{ barang.pengambil }}">
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Jumlah Barang</label>
                                                    <input data-toggle="touchspin" type="text" data-bts-max="{{ barang.stokSisa }}" id="stokUp{{ barang.id }}" value="{{ barang.stok }}">
                                                    <span class="help-block">
                                                        <small>Stok barang tersedia <b id="stokFix{{ barang.id }}">{{ barang.stokSisa }}</b></small>
                                                    </span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Tanggal Barang Keluar</label>
                                                    <input type="date" id="tanggalUp{{ barang.id }}" class="form-control" value="{{ barang.waktu|date:'Y-m-d' }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light" data-dismiss="modal">Tutup</button>
                                            <button type="button" class="btn btn-primary" onclick="updateBarang('{{ barang.id }}')">Simpan Perubahan</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
{% endblock content %}

{% block java %}
<script src="{% static 'assets/libs/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/libs/select2/select2.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'assets/js/pages/barangKeluar.js' %}"></script>
{% if auth.role != 'owner' %}
<script>
    function hapus(id) {
        Swal.fire({
            icon: 'warning',
            text: 'Apakah anda yakin ingin menghapus data ini?',
            showCancelButton: true,
            cancelButtonText: "Tidak",
            confirmButtonText: "Yakin",
            confirmButtonColor: "#5369F8",
        }).then((r)=>{
            if(r.isConfirmed){
                $.ajax({
                    headers:{"X-CSRFToken":token},
                    type:"POST",
                    url:"/barang-keluar/hapus-barang/",
                    data:{
                        "id":id
                    },
                    dataType:"json"
                }).done(a=>{
                    if (a.status){
                        Swal.fire({
                            icon: 'success',
                            text: 'Berhasil update data',
                            showConfirmButton: false,
                            timer: 2000
                        }).then(a=>{
                            window.location.href="/barang-keluar/"
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: a.message,
                            showConfirmButton: false,
                            timer: 2000
                        })
                    }
                })
            }
        })
    }
    function updateBarang(id) {
        const stok = $('#stokUp'+id).val(),
        pengambil = $('#pengambilUp'+id).val(),
        tanggal = $('#tanggalUp'+id).val(),
        stokSisa = $('#stokFix'+id).text()

        if(stok && tanggal && pengambil){
            if (stok != 0) {
                if (stok > parseInt(stokSisa)) {
                    Swal.fire({
                        icon: 'warning',
                        text: 'Stok keluar tidak boleh lebih dari "'+stokSisa+'"!',
                        showConfirmButton: false,
                        timer: 2000
                    })
                } else {
                    Swal.fire({
                        icon: 'warning',
                        text: 'Apakah anda yakin data yang dimasukkan sudah benar?',
                        showCancelButton: true,
                        cancelButtonText: "Belum",
                        confirmButtonText: "Yakin",
                        confirmButtonColor: "#5369F8",
                    }).then((r)=>{
                        if(r.isConfirmed){
                            $.ajax({
                                headers:{"X-CSRFToken":token},
                                type:"POST",
                                url:"/barang-keluar/",
                                data:{
                                    "id":id,
                                    "stok":stok,
                                    "tanggal":tanggal,
                                    "pengambil":pengambil
                                },
                                dataType:"json"
                            }).done(a=>{
                                if (a.status){
                                    Swal.fire({
                                        icon: 'success',
                                        text: 'Berhasil update data',
                                        showConfirmButton: false,
                                        timer: 2000
                                    }).then(a=>{
                                        window.location.href="/barang-keluar/"
                                    })
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        text: a.message,
                                        showConfirmButton: false,
                                        timer: 2000
                                    })
                                }
                            })
                        }
                    })
                }
            } else {
                Swal.fire({
                    icon: 'warning',
                    text: 'Stok tidak boleh "0"!',
                    showConfirmButton: false,
                    timer: 2000
                })
            }
        } else {
            Swal.fire({
                icon: 'warning',
                text: 'Ada form yang belum diisi!',
                showConfirmButton: false,
                timer: 2000
            })
        }
    }
</script>
{% endif %}
{% endblock java %}